.hero {
    height: 100vh; 
    background-color: var(--bg);
   /* background-color: RGB(247,	208,	111	); */
    color: rgb(255, 255, 255);
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slika{
    margin-top: 150px;
    background-size: cover;
  background-position: center;

    border-radius: 10px;
  }
  .centered {
    margin-top: 130px;
    font-size: 40px;
    color: black;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }