.hero {
    height: 120vh; 
   background-color: RGB(247,	208,	111	);
    color: rgb(255, 255, 255);
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slika{
    margin-top: 0px;
    width: 100vh;
    background-size: cover;
  background-position: center;
    height: 100vh;
    border-radius: 10px;
  }
  .centered {
    margin-top: 130px;
    font-size: 40px;
    color: black;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }