.navbar {
    overflow: hidden;
    /*145	199	197	 0, 217, 255, 0.69   00, 138, 252*/
    background-color: var(--bg-dark);
    color: var(--text-muted);
    height: 120px;

}
.content{
  
 
    
}
.logo{
    margin: 11px;
}
.naslov{
    display: flex;
    text-align: center;
    justify-content: center; 
    
}
.buttons{
    margin-top: 20px;
    display: flex;
    align-items: center !important; /* Vertikalno centriranje */
    justify-content: space-evenly !important; 
}
.button{

    font-size: 20px;
    display: flex !important;
    align-items: center !important; /* Vertikalno centriranje */
    justify-content: center !important; 
}