 body{
  margin: 0;
  font-family: SofiaProRegular;
font-weight: 400;
font-style: normal;
font-size: 12px;
letter-spacing: 0px;
text-decoration: none;
}
ul {
  list-style-type: none;
}


code {
  font-family: "Sofia Sans", sans-serif;
}

@font-face {
  font-family: 'SofiaProRegular';
  src:  url('./assets/fonts/SofiaProRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
